/* General Code */




body {
  font-family: "Open Sans", Tahoma, Helvetica, "Sans-Serif";
  font-size: 15px;
  background-color: white;
  -moz-user-select: none;
  margin: 0;
  overflow: hidden;
  color: white;
}
table {
  font-size: 14px;
}
label {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.tabs {
  position: relative;
  float:left;
  z-index: 2;
  width: 67px;
  height: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.tab {
  -moz-user-select: none;
  display: block;
  width: 67px;
  height: 66px;
  margin-bottom: 1px;
  background-color: #E36C09;
  transition: background-color 150ms;
}
.tab:hover {
  background-color: #FF6C09;
  cursor: pointer;
}
#home,
#downloads,
#preferences {
  background-position: center;
  background-repeat: no-repeat;
}
/*#home[selected],
#downloads[selected],
#preferences[selected] {
  background-position: 17px center;
  border-left: 5px solid #1C93F6;
  -moz-box-sizing: border-box;
}*/
#home[selected] .selected {
  display: block;
}
#downloads[selected] .selected {
  display: block;
}
#preferences[selected] .selected {
  display: block;
}
.selected {
  top: 22px;
  width: 4px;
  height: 24px;
  position: relative;
  background-color: #FFFFFF;
  display: none;
}
#home {
  background-image: url("home24.png");
}
#downloads {
  background-image: url("download24.png");
}
#preferences {
  background-image: url("preferences24.png");
}
.tabpanels {
  position: relative;
  float:right;
  width: 319px;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.tabpanel {
  display: none;
  position: relative;
  margin: 0;
}
.tabpanel[selected] {
  display: block;
}




/* First Tab */




#video-url {
  -moz-appearance: none;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid white;
  font-family: Open Sans;
  width: 319px;
  height: 23px;
  background-color: #E36C09;
  color: white;
  padding-left: 3px;
  transition: background-color 150ms;
}
#video-url:hover {
  background-color: #FF6C09;
}
#download-button,
#formats-button {
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 20px center;
  font-size: 15px;
  color: white;
  width: 319px;
  height: 88px;
  text-align: center;
  transition: background-color 150ms;
}
#download-button {
  background-image: url("open48.png");
}
#download-button[type="active"] {
  background-image: url("download48.png");
}
#formats-button {
  background-image: url("list48.png");
  opacity: 0.5;
  padding-bottom: 2px;
}
#formats-button:hover[type="active"],
#download-button:hover {
  cursor: pointer;
  background-color: #FF6C09;
}
#formats-button[type="active"] {
  opacity: 1;
}
#qd-button,
#dl-button {
  width: 319px;
  background-color: #E36C09;
  font-size: 15px;
}
#qd-button {
  height: 111px;
}
#dl-button {
  height: 88px;
  position: fixed;
  bottom: 0;
  -moz-user-select: none;
}
#quality-preferences {
  width: 319px;
  height: 111px;
  background-color: red;
  position: absolute;
  margin-left: -35px;
  background-color: #E36C09;
  border-left: 1px solid white;
  background-image: url("preferences24-2.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  text-align: center;  
  transition: margin-left 250ms, background-color 150ms;  
}
#quality-preferences:hover {
  background-color: #FF6C09;
  cursor: pointer;
}
.slide {
  margin-left: -320px !important;
  transition: margin-left 250ms, background-color 150ms;
}
#format-addition {
  width: 134px;
  border-left: 1px solid white;
}
#video-addition {
  width: 148px;
  background-color: #E36C09;
}
#format-addition,
#video-addition {
  float: right;
  font-size: 12px;
  height: 111px;
  background-color: #E36C09;
}
.format-title,
.quality-title {
  font-size: 13px;
  height: 111px;
  float: left;
}
.format-title {
  padding-left: 11px;
  line-height: 110px;
}
.quality-title {
  padding-left: 11px;
  line-height: 110px;
}
.fcontainer,
.vcontainer {
  float: right;
  height: 111px;
}
.fcontainer {
  padding-top: 14px;
  width: 70px;
}
.vcontainer {
  padding-top: 5px;
  width: 85px;
}

/* Second Tab */




.download-item {
  height: 57px;
  width: 319px;
  background-color: #E36C09;
  color: white;
  margin-left: 0px;
  border: none;
  margin-bottom: 1px;
  cursor: pointer;
  transition: background-color 150ms;
}
.download-item:hover {
  background-color: #FF6C09;
}
.download-item span {
  display: block; 
  width: 235px; 
  margin: 0 10px 1px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 16px;
  color: white;
  font-size: 12px;
}
.progress-outer {
  height: 5px;
  width: 235px;
  margin: 10px 0 3px 10px;
  background: none;
}
.progress-inner {
  background: white;
  width: 0%;
  height: 100%;
}
.progress-inner[type="inactive"] {
  background: #CCE900;
}
#top-text {
  margin-bottom: -5px;
  margin-top: 5px;
}
#bottom-text {
  font-size: 11px;
}
.d-icon {
  margin-top: 6px;
  margin-left: 11px;
}
.d-content {
  display: none;
  font-family: Open Sans;
}
.nd-content {
  background-color: #E36C09;
  color: white;
  height: 71px;
  background-position: center;
  padding: 16% 0;
  text-align: center;
  line-height: 0;
}
.d-footer {
  position: fixed;
  bottom: 0;
  color: white; 
  background-color: #E36C09;
  width: 319px; 
  height: 26px; 
  line-height: 25px; 
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  transition: background-color 150ms;
}
.d-footer:hover {
  background-color: #FF6C09;
}
.cancel {
  margin-top: 3px;
  margin-right: 15px;
  opacity: 0.5;
  transition: opacity 150ms;
}
.cancel:hover {
  opacity: 1;
}




/* Third Tab */




#third-panel {
  background-color: #E36C09;
  height: 200px;
  width: 319px;
}
.title {
  min-width: 255px;
  padding-left: 27px;
  background-image: url("list16.png");
  background-position: 11px center;
  background-repeat: no-repeat;
}
#container {
  padding-top: 6px;
  font-size: 13px;
}
.checkbox span {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid white;
  margin-bottom: 3px;
  cursor: pointer;
  transition: background-color 110ms;
}
.checkbox span:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.checkbox span:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.checkbox input {
  display: none;
}
.checkbox input:checked + span {
  background-image: url("checkmark.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.button {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  margin-bottom: 3px;
  background-image: url("images.png");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid white;
  text-align: center;
  transition: background-color 110ms;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#embed-button {
  background-position: 1px center;
}
#tools-button {
  background-position: -19px center;
}
#download-addition {
  text-align: center;
  float: right;
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 11px;
  height: 62px;
  width: 319px;
  background-color: #E36C09;
  padding-top: 3px;
  padding-left: 14px;
}
#folder-preferences {
  background-color: #E36C09;
  padding-top: 3px;
  position: absolute;
  width: 319px;
  height: 88px;
  text-align: center;
  top: 173px;
  transition: top 250ms, background-color 150ms;
  border-top: 1px solid white;
}
#folder-preferences:hover {
  background-color: #FF6C09;
  cursor: pointer;
}
.slide2 {
  top: 108px !important;
}
.dlabel {
  display: block;
  float: left;
  width: 159px;
}
input,
span {
  cursor: pointer;
}