@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(google-font.woff) format('woff');
}
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI"),
       local("Segoe"),
       local("Segoe WP"),
       url('segoeui.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General Code */

body {
  font-family: "Open Sans",sans-serif,Roboto,arial;
  font-size: 15px;
  background-color: white;
  -moz-user-select: none;
  margin: 0;
  overflow: hidden;
  color: white;
  cursor: default;
}
table {
  font-size: 14px;
}
#global-container {
  width: 100%;
  height: 100%;
}
.tabs {
  position: fixed;
  bottom: 0;
  width: 300px;
  height: 30px;
  background-color: #FF6C09;
  -moz-user-select: none;
}
.tab {
  display: inline-block;
  width: 100px;
  height: 100%;
  cursor: pointer;
  -moz-user-select: none;
  margin-right: -4px;
  padding-top: 2px;
}
.tab:hover:active {
  opacity: 0.5;
}
#selected {
  position: absolute;
  top: 0;
  height: 2px;
  width: 100px;
  background-color: white;
  transition: transform 300ms;
}
#home,
#downloads,
#preferences {
  background-repeat: no-repeat;
  background-position: center;
}
#home {
  background-image: -moz-image-rect(url("tabs.png"), 0, 16, 16, 0);
}
#downloads {
  background-image: -moz-image-rect(url("tabs.png"), 0, 48, 16, 32);
}
#preferences {
  background-image: -moz-image-rect(url("tabs.png"), 0, 32, 16, 16);
}
#tabpanels {
  width: 900px;
  height: 200px;
  transition: transform 300ms;
  position: absolute;
  font-size: 0; /* preventing extra margin between child elements (MAC issue) */
}
.tabpanel {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-color: #FF6C09;
  position: relative;
  margin: 0;  /* preventing extra margin between siblings*/
}
#click-handler {
  display: none;
  position: fixed;
  top: 0;
  width: 600px;
  height: 200px;
  -moz-user-select: none;
}
#home-panel,
#downloads-panel,
#preferences-panel {
  -moz-user-select: none;
}
label {
  -moz-user-select: none;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + div {
  display: inline-block;
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 5px;
  margin-left: 4px;
  margin-top: 1px;
}
.radio {
  cursor: pointer;
}
.radio:hover > div {
  background-color: rgba(255, 255, 255, 0.4);
}
input[type="radio"]:checked + div .checked {
  display: block;
}
input[type="radio"]:checked + div {
  background-color: transparent;
}
.checked {
  width: 6px;
  height: 6px;
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 100px;
  background-color: white;
  display: none;
  pointer-events: none;
}
.text {
  display: inline-block;
  position: relative;
  top: -2px;
}
label {
  display: inline-block;
  width: 100%;
  text-align: left;
}

/* Home Tab */

#buttons {
  position: absolute;
  width: 272px;
  margin-left: 16px;
  margin-top: 16px;
}
.mbutton {
  display: inline-block;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 12px;
  background-color: #F79646;
  font-size: 13px;
  cursor: pointer;
  line-height: 128px;
  color: white;
  width: 128px;
  height: 78px;
  transition: background-color 150ms;
}
.mbutton:not(#links):hover {
  background-color: #FFA05A!important;
}
.mbutton:not(#links):hover:active {
  background-color: #FF8830!important;
}
#qd-container {
  margin-right: 8px;
  margin-bottom: 12px;
}
#download {
  background-image: -moz-image-rect(url("38.png"), 0, 76, 38, 38);
  background-position: center 13px!important;
}
#download[type="active"] {
  background-image: -moz-image-rect(url("38.png"), 0, 38, 38, 0);
}
#links {
  background: #F79646 url("links.png") no-repeat center 10px;
  opacity: 0.5;
  cursor: default;
}
#links[type="active"] {
  opacity: 1;
  cursor: pointer;
}
#links[type="active"]:hover {
  background-color: #FFA05A!important;
  cursor: pointer;
}
#tools {
  background-image: -moz-image-rect(url("38.png"), 0, 152, 38, 114);
  margin-right: 8px;
}
#embed {
  background-image: -moz-image-rect(url("38.png"), 0, 114, 38, 76);
}
#qd-toggle {
  background-image: -moz-image-rect(url("16.png"), 0, 32, 16, 16);
}

#video-preferences {
  z-index: 1;
  width: 300px;
  height: 110px;
  cursor: default;
  position: absolute;
  background-color: #FF6C09;
  transition: transform 280ms;
  border-top: 1px solid white;
  -moz-user-select: none;
}
#format-addition,
#quality-addition {
  position: absolute;
  top: 5px;
  font-size: 13px;
}
#format-addition {
  width: 140px;
  height: 100px;
  left: 5px;
}
#quality-addition {
  width: 142px;
  height: 100px;
  left: 145px;
}
.format-title,
.quality-title {
  font-size: 13px;
  text-align: center;
  display: block;
  height: 24px;
  position: absolute;
  margin-top: 38px;
}
.format-title {
  width: 72px;
}
.fcontainer,
.qcontainer {
  display: block;
  position: absolute;
  right: 0;
  padding-left: 5px;
}
.fcontainer {
  width: 70px;
  height: 76px;
  margin-top: 14px;
}
.qcontainer {
  width: 87px;
  height: 95px;
  margin-top: 4px;
}
#qd-toggle {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 6px;
  left: 106px;
  opacity: 0.5;
  height: 16px;
  width: 16px;
  transition: opacity 180ms;
}
#qd-toggle:hover {
  opacity: 1;
  cursor: pointer;
}
#qd-toggle:hover:active {
  opacity: 0.5;
}

/* Downloads Tab */

#wrapper {
  position: absolute;
  left: 16px;
  top: 13px;
  width: 268px;
  height: 176px;
  overflow: hidden;
}
.d-content {
  display: none;
  position: absolute;
  width: 285px!important;
  height: 176px!important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.download-item {
  width: 100%;
  background: url("download.png") 10px center no-repeat;
  margin-bottom: 4px;
  cursor: pointer;
  font-family: "Segoe UI",sans-serif,Roboto,arial;
  background-color: #F79646;
  transition: background-color 180ms;
}
.download-item:hover {
  background-color: #FFA050;
}
.download-item:last-child {
  margin-bottom: 0;
}
.download-item span {
  display: block;
  width: 192px;
  text-overflow: " .... ";
  overflow: hidden;
  white-space: nowrap;
  line-height: 16px;
  font-size: 12px;
}
.body {
  display: inline-block;
  width: 192px;
  height: 55px;
  margin-left: 42px;
}
#top-text {
  margin-bottom: -5px;
  margin-top: 4px;
}
.progress-outer {
  display: inline-block;
  height: 5px;
  width: 100%;
  margin: 10px 0 4px 0;
  background: none;
}
.progress-inner {
  background: white;
  width: 0%;
  height: 100%;
}
.progress-inner[type="inactive"] {
  background: #E3FF23;
}
.cancel {
  display: inline-block;
  background: -moz-image-rect(url("16.png"), 0, 16, 16, 0) center no-repeat;
  width: 34px;
  height: 55px;
  position: absolute;
}
.cancel:hover:active {
  opacity: 0.5;
}
.nd-content {
  width: 300px;
  height: 200px;
  padding-top: 110px;
  position: absolute;
  font-size: 14px;
  text-align: center;
  background: url("no-download.png") center 45% no-repeat;
  -moz-box-sizing: border-box;
}

/* Preferences Tab */

#container {
  font-size: 13px;
  position: absolute;
  width: 300px;
  height: 200px;
  padding-top: 14px;
  padding-left: 10px;
  -moz-box-sizing: border-box;
}
.preference {
  display: block;
}
.title {
  display: inline-block;
  position: absolute;
  margin-top: 3px;
  padding-left: 8px;
}
.checkBox {
  width: 25px;
  height: 22px;
  margin-bottom: 7px;
  display: inline-block;
}
.checkbox span {
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer;
  border: 1px solid white;
  transition: background-color 110ms;
}
.checkbox span:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.checkbox span:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.checkbox input {
  display: none;
}
.checkbox input:checked + span {
  background-position: center;
  background-repeat: no-repeat;
  background-image: -moz-image-rect(url("preferences.png"), 0, 32, 16, 16);
}
.button {
  width: 22px;
  height: 22px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
  border: 1px solid white;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 100ms;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.button:hover:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#folder-button {
  background-image: -moz-image-rect(url("preferences.png"), 0, 16, 16, 0);
}
#settings-button {
  background-image: -moz-image-rect(url("preferences.png"), 0, 48, 16, 32);
}
#faqs-button {
  background-image: -moz-image-rect(url("preferences.png"), 0, 80, 16, 64);
}
#bug-button {
  background-image: -moz-image-rect(url("preferences.png"), 0, 64, 16, 48);
}

#folder-preferences {
  z-index: 1;
  width: 300px;
  height: 100px;
  font-size: 13px;
  position: absolute;
  transition: transform 280ms;
  background-color: #FF6C09;
  border-top: 1px solid white;
  -moz-user-select: none;
}
#download-addition {
  width: 300px;
  display: block;
  position: absolute;
  text-align: center;
  padding-left: 5px;
}
#folder-title {
  height: 33px;
  display: block;
  text-align: center;
  padding-top: 5px;
  -moz-box-sizing: border-box;
}
.dlabel {
  max-width: 100px;
  display: inline-block;
}


