tabs {
  width: 540px !important;
}
tab {
  margin-right: 6px !important;
  margin-top: 0 !important;
  height: 0px !important;
  padding-bottom: 18px !important;
  padding-top: 1px !important;
  width: 268px !important;
}
tab[selected] {
  height: 28px !important;
  padding-bottom: 11px !important;
}