row {
  min-height: 25px;
}
.info {
  font-weight: bold;
  padding: 10px;
}
.item {
  list-style-image: url('progress.png');
  -moz-image-region: rect(0, 64px, 16px, 48px);
}
.item[mod="progress"] {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.item[mod="done"] {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.item[mod="failed"] {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}