.iaextractor-div {
  font-family: "Segoe UI", Tahoma, Helvetica, "Sans-Serif";
  position: absolute;
  background: #31859B !important;
  color: white;
  z-index: 2147483647 !important;
}
.iaextractor-title,
.iaextractor-bottom {
  display: block;
  background-color: #3BA0BA !important;
  font-size: 16px !important;
  line-height: 30px;
  text-align: center;
}
#iaextractor-items {
  margin-top: 25px !important;
}
.iaextractor-item {
  background: #17365D url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/download.png) 10px center no-repeat !important;
  cursor: pointer;
  padding-left: 36px !important;
  line-height: 30px !important;
  margin: 20px 30px !important;
}
.iaextractor-item:hover {
  background: #275AA3 url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/download.png) 10px center no-repeat !important;
}
.iaextractor-link {
  color: white !important;
  text-decoration:none !important;
}
.iaextractor-link:hover {
  text-decoration:none !important;
}
.iaextractor-div input {
  -moz-appearance: none;
  border: none !important;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 8px 14px;
}
#iaextractor-previous,
#iaextractor-next,
#iaextractor-close {
  width: 42px;
  height: 18px;
  margin: 0;
}
#iaextractor-previous {
  background: #17365D url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/back.png) center no-repeat !important;
}
#iaextractor-previous:hover {
 background: #275AA3 url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/back.png) center no-repeat !important;
}
#iaextractor-next {
  background: #17365D url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/forward.png) center no-repeat !important;
}
#iaextractor-next:hover {
  background: #275AA3 url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/forward.png) center no-repeat !important;
}
#iaextractor-close {
  background: #8D0100 url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/close.png) center no-repeat !important;
}
#iaextractor-close:hover {
  background: #C90200 url(resource://feca4b87-3be4-43da-a1b1-137c24220968-at-jetpack/iaextractor/data/formats/close.png)  center no-repeat !important;
}
#iaextractor-previous:disabled,
#iaextractor-next:disabled {
  display: none;
}