
/** Menu **/
#iaextractor-menu {
  position: relative;
  font-family: sans-serif,Roboto,arial;
  background: #FF6C09!important;
  color: #FFF!important;
  -moz-user-select: none;
  z-index: 1999999998;
  overflow: hidden;
  word-spacing: 0!important;
  letter-spacing: 0!important;
}
#iaextractor-menu a {
  color: #FFF!important;
}
#iaextractor-menu span[type=title] {
  display: block;
  height: 30px;
  line-height: 36px;
  font-size: 16px!important;
  text-align: center;
  color: #FFF!important;
}
#iaextractor-tabs {
  display: none;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  font-size: 16px!important;
  text-align: center;
  line-height: 30px;
}
#iaextractor-tabs span {
  float: left;
  cursor: pointer;
  color: #FFF!important;
}
#iaextractor-tabs span:hover:active {
  opacity: 0.5;
}
#iaextractor-selected {
  z-index: 1;
  position: absolute!important;
  bottom: 30px!important;
  height: 2px!important;
  background-color: #FFF!important;
  transition: transform 300ms;
}

/** Loading Video Info **/

#iaextractor-load {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  background: url(./fetch.png) no-repeat center center !important;
}

/** Buttons **/

.iaextractor-button {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 36px;
  text-align: center;
}
.iaextractor-button:not([disabled=true]) {
  cursor: pointer;
}
#iaextractor-close {
  top: 0;
  right: 0;
  transition: background 100ms!important;
  background: #F79646 -moz-image-rect(url(./images.png), 0, 32, 16, 16) no-repeat center!important;
}
#iaextractor-close:hover {
  background-color: #FFA05A!important;
}
#iaextractor-close:hover:active {
  background-color: #FF8830!important;
}
.iaextractor-dropdown {
  position: relative;
  transform: translate(10px, -23px);
  width: 16px!important;
  height: 43px!important;
  transition: opacity 100ms, transform 200ms!important;
  background: -moz-image-rect(url(./downloadm5.png), 0, 16, 16, 0) no-repeat !important;
}
.iaextractor-dropdown[dash="a"] {
  background: -moz-image-rect(url(./downloadm5.png), 0, 80, 16, 64) no-repeat !important;
}
.iaextractor-dropdown[dash="v"] {
  background: -moz-image-rect(url(./downloadm5.png), 0, 96, 16, 80) no-repeat !important;
}
.iaextractor-dropdown[dash="v"][fps="60"] {
  background: -moz-image-rect(url(./downloadm5.png), 0, 112, 16, 96) no-repeat !important;
}
.iaextractor-dropdown[dash="v"][fps="50"] {
  background: -moz-image-rect(url(./downloadm5.png), 0, 144, 16, 128) no-repeat !important;
}
.iaextractor-dropdown:hover:active {
  opacity: 0.5;
}
.iaextractor-dropdown i {
  position: absolute;
  display: block!important;
  width: 12px;
  height: 12px;
  border-radius: 200px;
  bottom: 0;
  border: 2px solid #FFF!important;
  pointer-events: none;
}
.iaextractor-dropdown i:after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 200px;
  background-color: #FFF;
}

/** Menu Items **/

#iaextractor-items div {
  position: absolute;
  opacity: 0;
  transition: transform 300ms;
}
.iaextractor-item {
  font-size: 13px;
  display: block;
  line-height: 30px;
  height: 30px;
  margin: 20px 28px 0 28px!important;
  text-decoration: none!important;
  outline: 0!important;
  overflow: hidden;
  transition: background-color 100ms!important;
}
.iaextractor-item span:first-child {
  display: inline-block;
  height: 100%;
  width: 200%!important;
  color: #FFF!important;
  background-color: #F79646!important;
  transition: background-color 100ms!important;
  padding-left: 35px!important;
  -moz-box-sizing: border-box!important;
}
.iaextractor-item:hover span:first-child {
  background-color: #FFA05A!important;
}
.iaextractor-item span:first-child:hover:active {
  background-color: #FF8830!important;
}
.iaextractor-item[selected] .iaextractor-dropdown {
  transform: translate(10px, -50px);
}

/** Downloader **/

#iaextractor-downloader {
  z-index: 1;
  position: absolute;
  bottom: -32px;
  width: 100%!important;
  height: 32px!important;
  transition: bottom 200ms!important;
  background-color: #F79646!important;
  -moz-user-select: none;
  padding: 0; /** embeded **/
  margin: 0;
}
#iaextractor-downloader li {
  display: inline-block!important;
  height: 100%!important;
  line-height: 32px!important;
  text-align: center!important;
  margin-right: -3px!important;
  background: no-repeat center!important;
  transition: background-color 100ms!important;
}
#iaextractor-downloader li:hover {
  background-color: #FFA05A!important;
  cursor: pointer;
}
#iaextractor-downloader li:hover:active {
  background-color: #F79646!important;
}
#iaextractor-downloader li:nth-child(1) {
  background-image: -moz-image-rect(url(./downloadm5.png), 0, 32, 16, 16)!important;
}
#iaextractor-downloader li:nth-child(2) {
  background-image: -moz-image-rect(url(./downloadm5.png), 0, 128, 16, 112)!important;
}
#iaextractor-downloader li:nth-child(3) {
  background-image: -moz-image-rect(url(./downloadm5.png), 0, 48, 16, 32)!important;
}
#iaextractor-downloader li:nth-child(4) {
  background-image: -moz-image-rect(url(./downloadm5.png), 0, 64, 16, 48)!important;
}

#iaextractor-downloader li span {
  position: relative!important;
  background: white!important;
  top: -33px;
  margin: 0 -50%;
  padding: 5px!important;
  pointer-events: none;
  color: #000!important;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 200ms;
}
#iaextractor-downloader li span:after {
  position: absolute!important;
  top: 100%!important;
  left: 50%!important;
  content: ""!important;
  border: solid transparent!important;
  border-color: rgba(255, 255, 255, 0)!important;
  border-top-color: white!important;
  border-width: 6px!important;
  margin-left: -6px!important;
}
#iaextractor-downloader li:nth-child(1):hover span,
#iaextractor-downloader li:nth-child(2):hover span,
#iaextractor-downloader li:nth-child(3):hover span,
#iaextractor-downloader li:nth-child(4):hover span {
  opacity: 1;
}

#formats-button-small {
  color: #F79646!important;
  opacity: 0.8;
}
#formats-button-small:hover{
  opacity: 1;
}

#formats-button-small-2 {
  background: url('./injected-button.png') center center no-repeat;
  background-size: 16px 16px;
  width: 36px;
  cursor: pointer;
}
