row {
  min-height: 25px;
}
.info {
  font-weight: bold;
  padding: 10px;
}
.item {
  list-style-image: url('progress.png');
  -moz-image-region: rect(0, 64px, 16px, 48px);
}
.item[mod="progress"] {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.item[mod="done"] {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.item[mod="failed"] {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

tabs {
  -moz-appearance: none !important;
  background-color: white !important;
  border: 3px #548DD4 !important;
  border-bottom-style: solid !important;
  position: fixed !important;
  height: 28px !important;
  width: 540px !important;
}
tab {
  -moz-appearance: none !important;
  border-radius: 0 !important;
  color: white !important;
  background-color: #548DD4 !important;
  border: solid 3px #548DD4!important;
  border-bottom-style: none !important;
  margin-right: 6px !important;
  margin-top: 0 !important;
  height: 0px !important;
  padding-bottom: 18px !important;
  padding-top: 1px !important;
  width: 268px !important;
  text-align: center !important;
}
tab::-moz-focus-inner {
  border: 0; /* remove dotted outline */
}
tab[selected] {
  color: black !important;
  background-color: white !important;
  height: 28px !important;
  padding-bottom: 11px !important;
}
tab:last-child {
  margin-right: 0 !important;
}
tabpanels {
  -moz-appearance: none !important;
  border: 3px solid #548DD4 !important;
  border-top: none !important;
  border-radius: 0 !important;
  background-color: white !important;
  margin-top: 28px !important;
  height: 195px !important;
  min-width: 503px !important;
}
tabbox {
  margin: 6px !important;
}
#bitrate {
  -moz-appearance: none !important;
  padding: 1px 0 1px 3px !important;
  border: 1px solid rgba(140,183,234,.5) !important;
  background-image: linear-gradient(rgba(244,248,253,.5), rgba(244,248,253,.3)) !important;
  text-align: left !important;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAADlJREFUGFdj+P//PwMIM6Sd+Y+Bk3f9Z0hYDpSGqAGrgzMYgABZExbFmBpgmnAoxq4BpAnNGchOAgBNyG/YRP1NogAAAABJRU5ErkJggg==") right center !important;
  background-repeat: no-repeat !important;
}
